{% load staticfiles %}
<html lang="en">
 <head>
    <title>DISCUSSIONS</title>
     <link rel="icon" href="{% static 'favicon.png' %}" type="image/gif" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Important Owl plugins -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
     <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
     <!--  jQuery 1.7+  -->
    <script src="{% static 'assets-slider/assets/js/jquery-1.9.1.min.js' %}"></script>

     <!-- Include js plugin -->
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>



 </head>
 <body style="background-color:#f9f9f9;">
        <!--headers-->
        {% include 'content/Header.html' %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:#ffffff;border:0px solid #FFFFFF;width:500px;margin-left: 350px;margin-top: 0px;height:20px;">
         <div style="width:600px;margin-left: 100px;">
           <ul class="nav nav-pills" style="margin-top:10px;">
              <li><a href="/auth">RESOURCES</a></li>
              <li><a href="/upload/list/">SUBMISSION</a></li>
              <li class="active"><a href="/discuss">DISCUSSIONS</a></li>
              <li><a href="/news">UPDATES/NEWS</a></li>
           </ul>


         </div>
        </nav>
        <div class="tab-content" id="ONE" style=" border:0px solid black;width:70vw;height:74vh;margin:4vw 30vw 0vh 17vw;background-color:#f9f9f9;overflow-y: scroll;">
                <div id="DISCUSSIONS" class="tab-pane fade in active" style="margin-left: 2vw;">
                            {%if latest_question_list %}
                                <h1  class="" style="font-size: 32px;">Active Discussions</h1>
                                <a  class="btn pull-right " data-toggle="modal" data-target="#newdiscussion" style="background-color: #FF3D00;color:#FFFFFF;margin-top: -8vh;margin-left: 50vw;position: absolute;">CREATE NEW<h5 class="glyphicon glyphicon-plus" style="margin-left: 0.5em;"></h5></a>
                                <div id="newdiscussion" class="modal fade"  role="dialog">
                                           <div class="modal-dialog modal-lg" style="margin-top:20vh;">
                                              <div class="modal-content" style="background-color: #3498db;">
                                                 <div class="modal-header" style="height:10vh;">
                                                  <h4  class="text-center" style="color: #FFFFFF;font-size: 24"><strong>NEW DISCUSSION</strong></h4>
                                                  <button type="button" class="close" data-dismiss="modal" style="margin-top: -40px;;">&times;</button>
                                                 </div>
                                              <div class="modal-body" style="background-color: #FFFFFF;height:50vh;">

                                                <form role="form"  action="/discuss/ask/" method="post" style="margin-top: 5vh;">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="2016-01-01" name="pub_date" />
                                                    <input type="hidden" value="foo" name="uploader" />
                                                    <input type="hidden" value="6" name="for_class" />
                                                    <input type="hidden" value="abc" name="for_school" />
                                                     <div class="form-group">
                                                          <label for="QUESTION" style="color:#FF3D00;">QUESTION</label>
                                                          <input type="text" name="question_text" class="form-control" id="QUESTION" placeholder="Enter a one line subject or ask a question">
                                                     </div>
                                                     <div class="form-group">
                                                          <label for="details" style="color:#FF3D00;">ADD DETAILS</label>
                                                          <textarea name="additional_info" class="form-control" rows="5" id="details" placeholder="Additional Details if any"></textarea>
                                                     </div>
                                                     <button type="submit" class="btn  pull-right" style="background-color: #3498db;color:#FFFFFF" >Start Discussion</button>
                                                </form>
                                              </div>
                                              </div>
                                           </div>
                                </div>
                               {% for question in latest_question_list %}
                                <div style="padding: 1vw 1vw 0 0;background-color:#FFFFFF;margin-top: 1vw;width:60vw;border: 1px solid #eee;;">
                                      <div  class="text-justify" style="color: #333;font-size: 14px;height:auto;margin-left: 2vw;">
                                         <div style="width:55vw;"><strong style="font-size: 16px;">{{question.question_text}}</strong></div>
                                         <p style="color: #BDBDBD">Asked by:<strong>{{question.uploader}}</strong></p>
                                         <a  class="btn pull-right" data-toggle="modal" data-target="#{{question.pk}}" style="background-color: #3498db;color:#FFFFFF;margin-top: -8vh;">View</a>
                                      </div>
                                </div>
                                <div id="{{question.pk}}" class="modal fade"  role="dialog">
                                    <div class="modal-dialog modal-lg" align="center" style="margin-top:2vh;border-radius: 8px;width:50vw;">
                                        <div class="modal-content" style="background-color: #3498db;height:50vh;width:50vw;">
                                                 <div class="modal-header" style="height:auto;">
                                                    <h4  class="text-center " style="color: #FFFFFF;font-size: 24"><strong>{{question.question_text}}</strong></h4>
                                                 </div>
                                            <div  class="modal-body" align="center" style="background-color: #f9f9f9;height:60vh;overflow-y: scroll;">
                                                {% if question.additional_info %}
                                                    Additional info :{{question.additional_info}}
                                                {% endif %}
                                                      {% for reply in question.reply_set.all %}
                                                <div class="panel panel-default text-left"  style="width:40vw;">
                                                    <div class="panel-heading" style="background-color: #FFFFFF;border:0;color:#FF3D00;">{{reply.name}}</div>
                                                    <div class="panel-body"  class="text-justify" style="height: auto;">
                                                      <p class="text-justify">{{reply.reply_text}}</p>
                                                    </div>
                                                </div>
                                                      {% endfor %}
                                            </div>
                                            <div class="modal-footer" style="background-color: #FFFFFF;width:auto;">
                                                     <form role="form" action="/discuss/answer/" method="post">
                                                         {% csrf_token %}
                                                        <input type="hidden" value="foo" name="name" />
                                                        <input type="hidden" value="{{question.question_text}}" name="question_text" />
                                                        <div class="form-group" style="">
                                                          <textarea name="reply_text" class="form-control" rows="4" id="reply" placeholder="POST A REPLY..."></textarea>
                                                        </div>
                                                          <button type="submit" class="btn  pull-right" style="background-color: #3498db;color:#FFFFFF;margin-right: 10px;" >SUBMIT</button>
                                                     </form>
                                            </div>
                                        </div>
                                      </div>
                                 </div>
                                {% endfor %}
                            {%else %}
                                No active discussions. Start one
                            {% endif %}

                </div>
        </div>

       <script>$("#ONE").hover(function(){$(this).css("overflow-y","scroll");},function(){$(this).css("overflow-y","hidden");});</script>



        <div class="container-fluid" style="bottom:10;position:absolute;width:100%;">
         <script>jQuery.noConflict();
             $(document).ready(function() {
          $("#owl-example").owlCarousel({
            autoPlay:3000,
            items:11,
            stopOnHover : true,
            pagination: false,
          });
         });
         </script>
         <div id="owl-example" class="owl-carousel">


             <div class="item">
                 <img src="{% static 'assets-slider/assets/maps1.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal1">

             </div>
             <div class="item">
                 <img src="{%static 'assets-slider/assets/maps2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal2">
             </div>

             <div class="item">
                 <img src="{% static 'assets-slider/assets/maurya2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal3">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/house 4.png' %}" width="120" height="100" data-toggle="modal" data-target="#modal4">
             </div>

             <div class="item">
                 <img src="{% static 'assets-slider/assets/maps1.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal1">
             </div>
             <div class="item">
                 <img src="{%static 'assets-slider/assets/maps2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal2">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/maurya2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal3">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/house 4.png' %}" width="120" height="100" data-toggle="modal" data-target="#modal4">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/maps1.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal1">
             </div>
             <div class="item">
                 <img src="{%static 'assets-slider/assets/maps2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal2">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/maurya2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal3">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/house 4.png' %}" width="120" height="100" data-toggle="modal" data-target="#modal4">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/maps1.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal1">
             </div>
             <div class="item">
                 <img src="{%static 'assets-slider/assets/maps2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal2">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/maurya2.jpg' %}" width="120" height="100" data-toggle="modal" data-target="#modal3">
             </div>
             <div class="item">
                 <img src="{% static 'assets-slider/assets/house 4.png' %}" width="120" height="100" data-toggle="modal" data-target="#modal4">
             </div>
         </div>
        <div id="modal1" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <div class="" style="color:#FFFFFF;display:inline-block;">Abhishek Aggarwal</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">School</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">class</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{% static 'assets-slider/assets/maps1.jpg' %}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>

        </div>
        <div id="modal2" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <div class="" style="color:#FFFFFF;display:inline-block;">Abhishek Aggarwal</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">School</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">class</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{% static 'assets-slider/assets/maps2.jpg' %}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>

        </div>
         <div id="modal3" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">Abhishek Aggarwal</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">School</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">class</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{% static 'assets-slider/assets/maurya2.jpg' %}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>

        </div>
        <div id="modal4" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <div class="" style="color:#FFFFFF;display:inline-block;">Abhishek Aggarwal</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">School</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">class</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{% static 'assets-slider/assets/house 4.png' %}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>

        </div>
      </div>
     </body>
</html>

