{% load staticfiles %}
<html lang="en">
  <head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body style="background-color:#f8f8f8">
     {% include 'content/Header.html' %}
           <div class="container-fluid" style="width:100%;margin-top: 10vh;">
               {% for video in video_list %}
               <div style="padding:10px;">
                    <div class="row" style="">
                        <div class="col-sm-6 col-xs-6 col-md-6">
                         {{video.video_link|safe}}
                        </div>
                         <div class="col-sm-6 col-xs-6 col-md-6">
                         {{video.video_description}}
                         </div>
                    </div>
               </div>
               {% endfor %}
           </div>
  </body>
</html>