{% load staticfiles %}
<html lang="en">
 <head>
 	<title>HOME</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </head>
 <body style="background-color:#f8f8f8">
 	<div class="container-fluid">
        {% include 'content/Header.html' %}
         <nav class="navbar  navbar-fixed-top" role="navigation" style="background-color: transparent;border: 0px solid white;width:10vw;margin-left: 16vw;margin-top: 5px;;">
           <div class="dropdown" style=";margin-top: 0vh;margin-left: 80vw;position:absolute;">
               {% if student.avatar %}
                <img src="{{student.avatar.url}}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
                {% else %}
                <img src="{% static 'favicon.png' %}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
               {% endif %}
                <ul class="dropdown-menu dropdown-menu-right">
                   <li><a href="/students/info">{{user.first_name}}</a></li>
                   <li><a href="/logout">Logout</a></li>
                </ul>
           </div>
        </nav>
 	     <!--<ul class="pagination pull-right" style="margin-top:80px;">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
          </ul>-->
 		<div class="text-center text-uppercase page-header" style="margin-top:80px;">
          <h2>{{ lesson.lesson_name }}</h2>
        </div>

        <div  class="text-left text-uppercase wrap-text">
          <h3>{{lesson.short_description}}</h3>
        </div>
        <div class="row" >
        	<div class="col-sm-6 col-xs-6 col-md-6">
             <p>{{lesson.full_description}}</p>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6">
            	{{lesson.link|safe}}
            </div>	
        </div>
        <!--<ul class="pager">
             <li class="previous"><a href="#">Previous</a></li>
             <li class="next"><a href="#">Next</a></li>
        </ul>-->
    </div>
 </body>
</html>

