
<!DOCTYPE HTML>
<html lang="en">
 <head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </head>
 <body> 
    <div class="container-fluid" style="margin-top:80px;">
        {% include 'content/Header.html' %}
        {% if first_name %}
        {% if lesson_list %}
         <table>
         
                     <tr>
                         <th>Lesson Name</th>
                         <th>Lesson Description</th>
                     </tr>    
                {% for lesson in lesson_list %}
                     <tr>
                         <td><a href="/content/{{ lesson.id }}/">{{ lesson.lesson_name }}</a></td>
                         <td>{{lesson.lesson_description}}</td>
                     </tr>
                     
                {% endfor %}
            
         </table>
     {% else %}
    <p>No lessons are available.</p>
     {% endif %}
     {% endif %}
     {% include 'content/Footer.html' %}
    </div>
</body>
</html>

