{% load staticfiles %}
<html lang="en">
 <head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link href="{% static 'lessons.css' %}" rel="stylesheet">
 </head>
 <body  background="{% static 'assets/img/backgrounds/1.jpg' %}">
    <div class="container-fluid" style="margin-top:80px;">
        {% include 'content/Header.html' %}
{% if first_name %}
        {% if lesson_list %}
            <div class="top-content">
             <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-5 text">
                            <h1 style="color:#ffffff; "><strong>LESSONS</strong></h1>
                        </div>
                    </div>

                  <table class=" table table-condensed table-bordered" style="height:50%; margin-top:30px;margin-left:100px;border:1px solid transparent;">

                     <tr >
                         <th style="color:#FFFFFF;text-align: center;vertical-align:middle;border:1px solid transparent;"><h2>LESSONS</h2></th>
                         <th style="color:#FFFFFF;text-align: center;vertical-align:middle;border:1px solid transparent;"><h2>LESSON DESCRIPTION</h2></th>
                     </tr>

                {% for lesson in lesson_list %}
                     <tr>
                         <td style="color:#FFFFFF;text-align: center;vertical-align:middle;border:1px solid transparent;"><a style="color:#FFFFFF;"href="/content/{{ lesson.id }}/">{{ lesson.lesson_name }}</a></td>
                         <td style="color:#FFFFFF;text-align: center;vertical-align:middle;border:1px solid transparent;">{{lesson.lesson_description}}</td>
                     </tr>

                {% endfor %}

                  </table>

     {% else %}
    <p>No lessons are available.</p>
     {% endif %}
     {% endif %}

              </div>
             </div>

     </div>
  </body>
</html>
