{% load staticfiles %}
<html lang="en">
 <head>
    <title>UPDATES/NEWS</title>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/gif" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Important Owl plugins -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
     <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
     <!--  jQuery 1.7+  -->
    <script src="{% static 'assets-slider/assets/js/jquery-1.9.1.min.js' %}"></script>

     <!-- Include js plugin -->
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>



 </head>
 <body style="background-color:#f9f9f9;">
        <!--headers-->
        {% include 'content/Header.html' %}
       <nav class="navbar  navbar-fixed-top" role="navigation" style="background-color: transparent;border: 0px solid white;width:10vw;margin-left: 16vw;margin-top: 5px;;">
           <div class="dropdown" style=";margin-top: 0vh;margin-left: 80vw;position:absolute;">
               {% if student.avatar %}
                <img src="{{student.avatar.url}}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
                {% else %}
                <img src="{% static 'favicon.png' %}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
               {% endif %}
                <ul class="dropdown-menu dropdown-menu-right">
                   <li><a href="/students/info">{{request.user.first_name}}</a></li>
                   <li><a href="/logout">LogOut</a></li>
                </ul>
           </div>
        </nav>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:#ffffff;border:0px solid #FFFFFF;width:500px;margin-left: 350px;margin-top: 0px;">
          <div style="width:600px;margin-left: 100px;">
            <ul class="nav nav-pills" style="margin-top: 10px;">
              <li ><a href="/auth">RESOURCES</a></li>
              <li><a href="/upload/list/">SUBMISSIONS</a></li>
              <li><a href="/discuss">DISCUSSIONS</a></li>
              <li class="active"><a href="/news" style="background-color:#19b9e7;">ANNOUNCEMENTS</a></li>
            </ul>
          </div>
        </nav>


        <div class="tab-content" id="ONE" style=" border:0px solid black;width:83vw;height:70vh;margin:9vh 30vw 0vh 17vw;background-color:#f9f9f9;overflow-y: scroll;">

                    <!--FEEDBACK STATIC-->
                    <div class="text-center" style="display: block;position:absolute;margin-top: 48vh;margin-left:79.7vw;width:2vw;background-color: #e67e22;color: #FFFFFF;border-radius: 4px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                             <a href="/feedback/send" style="text-decoration: none;display: block;color: #FFFFFF;">
                                  <span style="display: block;">F</span>
                                  <span style="display: block;">E</span>
                                  <span style="display: block;">E</span>
                                  <span style="display: block;">D</span>
                                  <span style="display: block;">B</span>
                                  <span style="display: block;">A</span>
                                  <span style="display: block;">C</span>
                                  <span style="display: block;">K</span>
                             </a>
                    </div>
                    <div id="UPDATES" class="tab-pane fade in active" style="margin-left: 2vw;">
                        <h3 style="font-size: 32px;">NEWS</h3>
                        {% for news in news_list %}
                        <div style="padding: 1vw 1vw 0 0;background-color:#FFFFFF;margin-top: 1vw;width:60vw;border: 1px solid #eee;height:auto;">
                            <div  class="text-justify" style="color: #333;font-size: 14px;margin-left: 2vw;margin-top: -4vh;margin-bottom: 2vh;">
                                <h3 style="color: #03A9F4;">{{news.news_heading}}</h3>
                                    {{news.news_text}}
                            </div>
                        </div>
                                    {% endfor %}
                    </div>
        </div>


         <!--<script>$("#ONE").hover(function(){$(this).css("overflow-y","scroll");},function(){$(this).css("overflow-y","hidden");});</script>-->

          <div class="container-fluid" style="bottom:10;position:absolute;width:100%;">
         <script>jQuery.noConflict();
             $(document).ready(function() {
          $("#owl-example").owlCarousel({
            autoPlay:3000,
            items:11,
            stopOnHover : true,
            pagination: false,
          });
         });
         </script>
         <div id="owl-example" class="owl-carousel">
             {% for pic in makers %}
             <div class="item">
                 <img src="{{pic.imgfile.url}}" width="120" height="100" data-toggle="modal" data-target="#{{pic.pk}}">
             </div>
             {% endfor %}
         </div>
          {% for pic in makers %}
          <div id="{{pic.pk}}" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_name}}</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_school}}</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_class}}</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{{pic.imgfile.url}}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>
        </div>
          {% endfor %}
      </div>
     </body>
</html>




