{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #f9f9f9;">
      <h1 class="text-center" style="font-size: 48px;margin-top:25vh;">Oops!</h1>
      <h2 class="text-center" style="font-size: 26px;"> Bad Request</h2>
      <h3 class="text-center" style="font-size: 16px;">Sorry, an error has occured.Please try again later.</h3>
      <a class="btn " href="/auth" style="text-decoration: none;margin-left:40vw;background-color:#19b9e7;border=0px;color:#FFFFFF;">TAKE ME HOME</a>
      <a class="btn " href="/feedback/send" style="text-decoration: none;background-color:#19b9e7;color:#FFFFFF;">CONTACT SUPPORT</a>
</body>
</html>