{% load staticfiles %}
<html>
        <body>
                <!-- Upload form. Note enctype attribute! -->
                    <div class="panel-group">
                        <div class="panel panel-default" style=" border-radius: 8px; box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .5);">
                           <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
                               {% csrf_token %}
                               <p>{{ form.non_field_errors }}</p>
                                 <div class="panel-heading text-uppercase" style="color:#19b9e7;margin-left: 8vw;">
                                     <p>{{ form.stlfile.label_tag }} </p>
                                 </div>
                                 <div class="panel-body" style="color:#19b9e7;">
                                     <p>
                                        {{ form.stlfile.errors }}
                                        {{ form.stlfile }}
                                     </p>
                                     <div class="form-group">
			                    		<label class="sr-only" for="description">Description</label>
			                        	<input type="text" name="description" placeholder="Description" class="description form-control" id="description">
			                        </div>
                                 </div>
                               <br/><br/>
                               <br/>
                               <p><input class="btn pull-right" type="submit" value="Upload" style="background-color:#19b9e7;color:#ffffff;border-radius:2px;position:absolute;margin:-4vw 0 0 19vw; " /></p>
                           </form>
                        </div>
                    </div>
                </div>
        </body>

</html>