{% load staticfiles %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<html>
    <head>

                 <meta charset="utf-8">
                 <meta name="viewport" content="width=device-width, initial-scale=1">
                 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
                 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                  <!-- Important Owl plugins -->
                 <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
                  <!-- Default Theme -->
                 <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
                  <!--  jQuery 1.7+  -->
                 <script src="{% static 'assets-slider/assets/js/jquery-1.9.1.min.js' %}"></script>

                  <!-- Include js plugin -->
                 <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
                 <title>UPLOAD</title>
                 <link rel="icon" href="{% static 'favicon.png' %}" type="image/gif" sizes="16x16">
        </head>

        <body style="background-color: #f9f9f9;">
        {% include 'content/Header.html' %}
                <nav class="navbar  navbar-fixed-top" role="navigation" style="background-color: transparent;border: 0px solid white;width:10vw;margin-left: 16vw;margin-top: 5px;;">
           <div class="dropdown" style=";margin-top: 0vh;margin-left: 80vw;position:absolute;">
               {% if student.avatar %}
                <img src="{{student.avatar.url}}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
                {% else %}
                <img src="{% static 'favicon.png' %}" class="img-circle" alt="Cinque Terre" width="40" height="40" data-toggle="dropdown" >
               {% endif %}
                <ul class="dropdown-menu dropdown-menu-right">
                   <li><a href="/students/info">{{request.user.first_name}}</a></li>
                   <li><a href="/logout">LogOut</a></li>
                </ul>
           </div>
        </nav>
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:#ffffff;border:0px solid #FFFFFF;width:500px;margin-left: 350px;margin-top: 0px;">
                   <div style="width:600px;margin-left: 100px;">
                       <ul class="nav nav-pills" style="margin-top: 10px;">
                          <li><a  href="/auth">RESOURCES</a></li>
                          <li class="active"><a href="/upload/list/" style="background-color:#19b9e7;">SUBMISSIONS</a></li>
                          <li><a href="/discuss">DISCUSSIONS</a></li>
                          <li><a href="/news">ANNOUNCEMENTS</a></li>
                       </ul>
                   </div>
                </nav>
                <div class="tab-content" id="ONE" style=" border:0px solid black;width:83vw;height:74vh;margin:4vw 30vw 0vh 17vw;background-color:#f9f9f9;overflow-y: scroll;">

                        <!--FEEDBACK STATIC-->
                        <div class="text-center" style="display: block;position:absolute;margin-top: 48vh;margin-left:79.7vw;width:2vw;background-color: #e67e22;color: #FFFFFF;border-radius: 4px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                             <a href="/feedback/send" style="text-decoration: none;display: block;color: #FFFFFF;">
                                  <span style="display: block;">F</span>
                                  <span style="display: block;">E</span>
                                  <span style="display: block;">E</span>
                                  <span style="display: block;">D</span>
                                  <span style="display: block;">B</span>
                                  <span style="display: block;">A</span>
                                  <span style="display: block;">C</span>
                                  <span style="display: block;">K</span>
                             </a>
                        </div>
                        <div id="SUBMISSION" class="tab-pane fade in active" style="margin-left: -15vw; width:90vw;">



                                  <!--recent posts-->
                                  <div class="" style="position:absolute;margin:-20vh 0 0 17vw;">
                                    <h1 style="color:#000000;font-size: ;">RECENT UPLOADS</h1>
                                  </div>
                                  <div class="panel-group">
                                   <div class="panel panel-default" style="position:absolute;width:28vw;height:50vh;margin:0vh 0 0 15vw;border-radius: 8px; box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .5);">
                                       <div class="panel-body" style="overflow-y: scroll;height:100%">
                                           {% for upload in uploads %}
                                           <div style="height:auto;border-bottom: 1px solid darkgray;padding-top: 5px;">
                                               <p>
                                                   <span style="color:#19b9e7;">{{upload.name}}</span> of class {{upload.class_name}} from {{upload.school_name}} has uploaded <span style="color:#ff3d00;">{{upload.type}}</span>.
                                               </p>
                                           </div>
                                           {% endfor %}
                                       </div>
                                   </div>
                              </div>

                              <!--UPLOAD-->

                              <div class="" style="position:absolute;margin:-20vh 0 0 58vw;">
                                    <h1 style="color:#000000;">UPLOAD</h1>
                              </div>
                              <div class="panel-group">
                                   <div class="panel panel-default" style="width:28vw;margin:20vh 0 0 50vw;border-radius: 8px; box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .5);">
                                       <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          <p>{{ form.non_field_errors }}</p>
                                          <div class="panel-heading text-uppercase" style="color:#19b9e7;margin-left: 8vw;">
                                          <p>{{ form.file.label_tag }} </p>
                                          </div>
                                       <div class="panel-body" style="color:#19b9e7;">
                                          <p>
                                          {{ form.file.errors }}
                                          {{ form.file }}
                                          </p>
                                       <!--Dropdown for title-->
                                           <label for="type">Choose a title:</label>
                                          <select class="form-control" id="type" name="type" style="margin-bottom: 10px;">
                                             <option selected disabled></option>
                                              {% for text in dropdown %}
                                             <option>{{text}}</option>
                                             {% endfor %}
                                          </select>

                                          <div class="form-group">
			                    		    <label class="sr-only" for="description">Description</label>
			                        	    <input type="text" name="description" placeholder="Description" class="description form-control" id="description">
			                              </div>
                                           <div class="form-group">
                                      </div>
                                       </div>
                                          <br/><br/>
                                          <br/>
                                            <p><input class="btn pull-right" type="submit" value="Upload" style="background-color:#19b9e7;color:#ffffff;border-radius:2px;position:absolute;margin:-4vw 0 0 19vw; " /></p>
                                       </form>
                                   </div>
                              </div>



                        </div>


                </div>

          <!--  <script>$("#ONE").hover(function(){$(this).css("overflow-y","scroll");},function(){$(this).css("overflow-y","hidden");});</script>-->
                <div class="container-fluid" style="bottom:10;position:absolute;width:100%;">
         <script>jQuery.noConflict();
             $(document).ready(function() {
          $("#owl-example").owlCarousel({
            autoPlay:3000,
            items:11,
            stopOnHover : true,
            pagination: false,
          });
         });
         </script>
         <div id="owl-example" class="owl-carousel">
             {% for pic in makers %}
             <div class="item">
                 <img src="{{pic.imgfile.url}}" width="120" height="100" data-toggle="modal" data-target="#{{pic.pk}}">
             </div>
             {% endfor %}
         </div>
          {% for pic in makers %}
          <div id="{{pic.pk}}" class="modal fade" role="dialog">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content" style="background-color: transparent;">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_name}}</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_school}}</div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                    <div class="" style="color:#FFFFFF;display:inline-block;"></div>
                                 <div class="" style="color:#FFFFFF;display:inline-block;">{{pic.student_class}}</div>
                             </div>
                             <div class="modal-body" style="background-color: #FFFFFF;">
                                 <img src="{{pic.imgfile.url}}" width="870vw" height="530vh">
                             </div>
                         </div>
                     </div>
        </div>
          {% endfor %}
      </div>




        </body>

</html>