{% load staticfiles %}
{% if form.errors %}
    <br><br><br><br>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>REGISTRATION </title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    {% include 'content/Header.html' %}
     <body background="{% static 'assets/img/backgrounds/1.jpg' %}">

        <div class="top-content">
            <div class="inner-bg">
                <div class="container" style="margin-top:-50px;">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                           <h1>Registration</h1>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                                <div class="form-top-right pull-right">
                        			<i class="fa fa-user"></i>
                        		</div>
                            </div>
                            <div class="form-bottom contact-form">
                            <form id="reg_form" method="post" action="/students/reg/" enctype="multipart/form-data" data-toggle="validator">
                                {% csrf_token %}
                                <div class="form-group">
                                   <label class="sr-only" for="first-name" >FIRST NAME</label>
                                   <input type="text" name="first_name" required placeholder="First Name..." class="form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="last-name">LAST NAME</label>
			                        	<input type="text" name="last_name" required="required" placeholder="Last Name..." class="form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="middle-name">MIDDLE NAME</label>
			                        	<input type="text" name="middle_name" placeholder="Middle Name..." class="form-control">
			                        </div>
                                    <input type="hidden" name="email_id" value="foo@bar.com">
                                    <div class="form-group">
			                        	<label class="sr-only" for="phone-no">PHONE NO</label>
			                        	<input type="text" name="phone_no"  placeholder="Phone No..." class="form-control">
			                        </div>
                                    <div class="form-group" style="margin-top: 5vh;margin-left: 5vw;">
			                        	<label for="school">SCHOOL :</label>
			                        	<!--<input type="text" name="school_name" placeholder="School..." class="form-control">-->
                                        {{form.school_name}}
			                        </div>
                                    <div class="form-group" style="margin-left: 25vw;margin-top: -6vh;">
			                        	<label for="class">CLASS :</label>
			                        	<!--<input type="text" name="class_name" placeholder="Class..." class="form-control">-->
                                        {{form.class_name}}
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="avatar">AVATAR</label>
                                        {{form.avatar.errors }}
			                        	{{form.avatar.label_tag}}
                                        {{form.avatar}}
			                        </div>
			                     <input type="submit" class="btn" name="submit" value="UPDATE DETAILS" style="background-color:#19b9e7;color:#ffffff;border-radius:2px;width:100% " />
                            </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'assets/js/retina-1.1.0.min.js' %}"></script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>


